/* .container {
    display: inline-block;
    
    font-size: 24px;
} */

.typed-out {
    overflow: hidden;
    white-space: nowrap;
    border-left: 2px solid var(--darkgrey);
    width: 0;
    animation: typing 1.5s steps(30, end) forwards, blinking 1s infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blinking {
    0% {
        border-right-color: transparent
    }

    50% {
        border-right-color: black
    }

    100% {
        border-right-color: transparent
    }
}




.banner {
    width: 100%;
    height: 100vh;
    background-color: var(--darkgrey);
}

.banner .container {
    max-width: 1240px;
    padding: 0 1rem;
    margin: auto;
}

.banner .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.banner .col-1 {
    padding: 1rem 1rem 1rem 0;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner .col-1 h1 {
    font-size: 42px;
    font-weight: 700;
    color: #fff;
}

.banner .col-1 p {
    font-size: 1rem;
    color: var(--grey);
    line-height: 1.4;
    margin-top: 1.2rem;
}

.banner .used-by p {
    color: var(--lightgrey);
    font-size: 12px;
    margin: 2rem 0 1rem 0;
}

.banner .col-1 .icons i {
    color: var(--grey);
    padding-right: 1rem;
}


.banner .col-2 {
    padding: 1rem;
    height: 89vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: .8rem;
}

.banner .col-2 p {
    color: var(--grey);
}

.banner .form-layout {
    width: 400px;
    margin: auto;
    background-color: #fff;
    border-radius: 6px;
}

.banner .form-container {
    padding: 1.5rem 2rem;
}

.banner .sign-in-txt {
    margin-bottom: 40px;
    font-size: 20px;
}

.social-login i {
    background-color: #fff;
    padding: 16px 45px 6px 45px;
    border: 1px solid var(--lightgrey);
    border-radius: 4px;
}


.col-2 .divider p {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--lightgrey);
    line-height: .1em;
    margin: 2rem 0 2rem;
}

.col-2 .divider p span {
    background-color: #fff;
    padding: 0 10px;
}

form input {
    display: block;
    width: 100%;
    margin: 1.2rem 0;
    padding: 8px;
    border: 1px solid var(--lightgrey);
    border-radius: 4px;
}

.banner .form-footer {
    border-top: 1px solid var(--lightgrey);
    background-color: #f8f8f8;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.form-footer p {
    padding: 1.5rem 2rem;
}

.form-footer span {
    font-weight: 500;
}

@media screen and (max-width:960px) {
    .banner {
        height: auto;
        width: 100%;
    }

    .banner .container {
        padding: 0 1rem;
    }

    .banner .content {
        grid-template-columns: 1fr;
    }

    .banner .col-1 {
        height: 90vh;
        padding: .2rem;
        max-width: 100%;
    }

    .banner h1 {
        font-size: 32px;
    }

    .banner .col-2 {
        display: none;
    }


}